/* page container styles */
.page-container {
    display:flex;
    justify-content: center;
}

.page-container > .content-wrapper {
    width: 1000px;
}
.page-container > .content-wrapper >#Pius {
    width:300px;
    margin:23px 40px 20px 0px;
    float:left;
    border: 1px solid #cea135;
}
.page-container > .content-wrapper p {
    letter-spacing: 2px;
    line-height: 30px;
}

.page-container > .content-wrapper > #Mr-Pius {
    width: 313px;
    float: right;
    margin: 1px 1px 0px 29px;
    border: 2px solid #cea135;

}
.page-container > .content-wrapper > #Mr-Muthomi{
    width: 313px;
    float: left;
    margin: 5px 20px 0px 0px;
    border: 2px solid #cea135;
    object-fit: cover;
}
.page-container > .content-wrapper > #Mr-M{
    width: 313px;
    float: left;
    margin: 5px 20px 0px 0px;
    border: 2px solid #cea135;
    object-fit: cover;
}
.page-container > .content-wrapper > #Miss-Joy {
    width: 200px;
    float:right;
    margin: 5px 20px 5px 5px;
    object-fit: cover;
}